<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.need.dao.bops.wms.ESynEdiReceiveMessageDAO" >
  <resultMap id="BaseResultMap" type="com.need.domain.po.bops.wms.ESynEdiReceiveMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="bill_id" property="billId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="send_date" property="sendDate" jdbcType="TIMESTAMP" />
    <result column="exception" property="exception" jdbcType="VARCHAR" />
    <result column="warehouse_id" property="warehouseId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="BIGINT" />
    <result column="queue" property="queue" jdbcType="VARCHAR" />
    <result column="receive_date" property="receiveDate" jdbcType="TIMESTAMP" />
    <result column="handle_date" property="handleDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.need.domain.po.bops.wms.ESynEdiReceiveMessage" extends="BaseResultMap" >
    <result column="body" property="body" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bill_id, type, sign, send_date, exception, warehouse_id, status, queue, receive_date, 
    handle_date
  </sql>
  <sql id="Blob_Column_List" >
    body
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from e_syn_edi_receive_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from e_syn_edi_receive_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.need.domain.po.bops.wms.ESynEdiReceiveMessage" >
    insert into e_syn_edi_receive_message (id, bill_id, type, 
      sign, send_date, exception, 
      warehouse_id, status, queue, 
      receive_date, handle_date, body
      )
    values (#{id,jdbcType=BIGINT}, #{billId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{sign,jdbcType=VARCHAR}, #{sendDate,jdbcType=TIMESTAMP}, #{exception,jdbcType=VARCHAR}, 
      #{warehouseId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{queue,jdbcType=VARCHAR}, 
      #{receiveDate,jdbcType=TIMESTAMP}, #{handleDate,jdbcType=TIMESTAMP}, #{body,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.need.domain.po.bops.wms.ESynEdiReceiveMessage" >
    insert into e_syn_edi_receive_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billId != null" >
        bill_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="sendDate != null" >
        send_date,
      </if>
      <if test="exception != null" >
        exception,
      </if>
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="queue != null" >
        queue,
      </if>
      <if test="receiveDate != null" >
        receive_date,
      </if>
      <if test="handleDate != null" >
        handle_date,
      </if>
      <if test="body != null" >
        body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="billId != null" >
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="sendDate != null" >
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="exception != null" >
        #{exception,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="queue != null" >
        #{queue,jdbcType=VARCHAR},
      </if>
      <if test="receiveDate != null" >
        #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="handleDate != null" >
        #{handleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="body != null" >
        #{body,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.need.domain.po.bops.wms.ESynEdiReceiveMessage" >
    update e_syn_edi_receive_message
    <set >
      <if test="billId != null" >
        bill_id = #{billId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="sendDate != null" >
        send_date = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="exception != null" >
        exception = #{exception,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="queue != null" >
        queue = #{queue,jdbcType=VARCHAR},
      </if>
      <if test="receiveDate != null" >
        receive_date = #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="handleDate != null" >
        handle_date = #{handleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.need.domain.po.bops.wms.ESynEdiReceiveMessage" >
    update e_syn_edi_receive_message
    set bill_id = #{billId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      send_date = #{sendDate,jdbcType=TIMESTAMP},
      exception = #{exception,jdbcType=VARCHAR},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      queue = #{queue,jdbcType=VARCHAR},
      receive_date = #{receiveDate,jdbcType=TIMESTAMP},
      handle_date = #{handleDate,jdbcType=TIMESTAMP},
      body = #{body,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.need.domain.po.bops.wms.ESynEdiReceiveMessage" >
    update e_syn_edi_receive_message
    set bill_id = #{billId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      send_date = #{sendDate,jdbcType=TIMESTAMP},
      exception = #{exception,jdbcType=VARCHAR},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      queue = #{queue,jdbcType=VARCHAR},
      receive_date = #{receiveDate,jdbcType=TIMESTAMP},
      handle_date = #{handleDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
   <select id="queryListByStatus" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    
    from e_syn_edi_receive_message
    where status = #{status}
  </select>
</mapper>