<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.need.dao.api.trade.TradePushPullDAO" >
  <resultMap id="BaseResultMap" type="com.need.domain.po.api.trade.TradePushPullPO" >
    <id column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="logistics_no" property="logisticsNo" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="VARCHAR" />
    <result column="retrieve_status" property="retrieveStatus" jdbcType="VARCHAR" />
    <result column="deliver_status" property="deliverStatus" jdbcType="VARCHAR" />
    <result column="warehouse_type" property="warehouseType" jdbcType="VARCHAR" />
    <result column="memo_deliver" property="memoDeliver" jdbcType="VARCHAR" />
    <result column="push_return_status" property="pushReturnStatus" jdbcType="VARCHAR" />
    <result column="memo_push" property="memoPush" jdbcType="VARCHAR" />
    <result column="memo_retrieve" property="memoRetrieve" jdbcType="VARCHAR" />
    <result column="memo_logistics" property="memoLogistics" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="batch_count" property="batchCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_no, trade_no, out_trade_no, logistics_no, order_status, trade_status, retrieve_status, 
    deliver_status, warehouse_type, memo_deliver, push_return_status, memo_push, memo_retrieve, 
    memo_logistics, create_time, update_time, batch_no, batch_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from trade_push_pull
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from trade_push_pull
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.need.domain.po.api.trade.TradePushPullPO" >
    insert into trade_push_pull (order_no, trade_no, out_trade_no, 
      logistics_no, order_status, trade_status, 
      retrieve_status, deliver_status, warehouse_type, 
      memo_deliver, push_return_status, memo_push, 
      memo_retrieve, memo_logistics, create_time, 
      update_time, batch_no, batch_count
      )
    values (#{orderNo,jdbcType=VARCHAR}, #{tradeNo,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, 
      #{logisticsNo,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=VARCHAR}, 
      #{retrieveStatus,jdbcType=VARCHAR}, #{deliverStatus,jdbcType=VARCHAR}, #{warehouseType,jdbcType=VARCHAR}, 
      #{memoDeliver,jdbcType=VARCHAR}, #{pushReturnStatus,jdbcType=VARCHAR}, #{memoPush,jdbcType=VARCHAR}, 
      #{memoRetrieve,jdbcType=VARCHAR}, #{memoLogistics,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{batchNo,jdbcType=VARCHAR}, #{batchCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.need.domain.po.api.trade.TradePushPullPO" >
    insert into trade_push_pull
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="logisticsNo != null" >
        logistics_no,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
      <if test="retrieveStatus != null" >
        retrieve_status,
      </if>
      <if test="deliverStatus != null" >
        deliver_status,
      </if>
      <if test="warehouseType != null" >
        warehouse_type,
      </if>
      <if test="memoDeliver != null" >
        memo_deliver,
      </if>
      <if test="pushReturnStatus != null" >
        push_return_status,
      </if>
      <if test="memoPush != null" >
        memo_push,
      </if>
      <if test="memoRetrieve != null" >
        memo_retrieve,
      </if>
      <if test="memoLogistics != null" >
        memo_logistics,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="batchCount != null" >
        batch_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNo != null" >
        #{logisticsNo,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="retrieveStatus != null" >
        #{retrieveStatus,jdbcType=VARCHAR},
      </if>
      <if test="deliverStatus != null" >
        #{deliverStatus,jdbcType=VARCHAR},
      </if>
      <if test="warehouseType != null" >
        #{warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="memoDeliver != null" >
        #{memoDeliver,jdbcType=VARCHAR},
      </if>
      <if test="pushReturnStatus != null" >
        #{pushReturnStatus,jdbcType=VARCHAR},
      </if>
      <if test="memoPush != null" >
        #{memoPush,jdbcType=VARCHAR},
      </if>
      <if test="memoRetrieve != null" >
        #{memoRetrieve,jdbcType=VARCHAR},
      </if>
      <if test="memoLogistics != null" >
        #{memoLogistics,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="batchCount != null" >
        #{batchCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.need.domain.po.api.trade.TradePushPullPO" >
    update trade_push_pull
    <set >
      <if test="tradeNo != null" >
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNo != null" >
        logistics_no = #{logisticsNo,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        trade_status = #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="retrieveStatus != null" >
        retrieve_status = #{retrieveStatus,jdbcType=VARCHAR},
      </if>
      <if test="deliverStatus != null" >
        deliver_status = #{deliverStatus,jdbcType=VARCHAR},
      </if>
      <if test="warehouseType != null" >
        warehouse_type = #{warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="memoDeliver != null" >
        memo_deliver = #{memoDeliver,jdbcType=VARCHAR},
      </if>
      <if test="pushReturnStatus != null" >
        push_return_status = #{pushReturnStatus,jdbcType=VARCHAR},
      </if>
      <if test="memoPush != null" >
        memo_push = #{memoPush,jdbcType=VARCHAR},
      </if>
      <if test="memoRetrieve != null" >
        memo_retrieve = #{memoRetrieve,jdbcType=VARCHAR},
      </if>
      <if test="memoLogistics != null" >
        memo_logistics = #{memoLogistics,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="batchCount != null" >
        batch_count = #{batchCount,jdbcType=INTEGER},
      </if>
    </set>
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.need.domain.po.api.trade.TradePushPullPO" >
    update trade_push_pull
    set trade_no = #{tradeNo,jdbcType=VARCHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      logistics_no = #{logisticsNo,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=VARCHAR},
      retrieve_status = #{retrieveStatus,jdbcType=VARCHAR},
      deliver_status = #{deliverStatus,jdbcType=VARCHAR},
      warehouse_type = #{warehouseType,jdbcType=VARCHAR},
      memo_deliver = #{memoDeliver,jdbcType=VARCHAR},
      push_return_status = #{pushReturnStatus,jdbcType=VARCHAR},
      memo_push = #{memoPush,jdbcType=VARCHAR},
      memo_retrieve = #{memoRetrieve,jdbcType=VARCHAR},
      memo_logistics = #{memoLogistics,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      batch_count = #{batchCount,jdbcType=INTEGER}
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </update>
</mapper>