<!DOCTYPE HTML>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black" name="apple-mobile-web-app-status-bar-style" />
        <meta content="telephone=no" name="format-detection" />
        <meta content="email=no" name="format-detection" />
        <meta content="" name="description">
        <meta content="" name="keywords">
        <title>H5 移动端示例页面</title>
        <link rel="stylesheet" type="text/css" href="../../css/reset.css">
        <link rel="stylesheet" type="text/css" href="./css/coupons_v0.1.1.css">
    </head>

    <body>
        <div class="container">
            <header class="header">
                <img src="./img/share_coupon_640x680.jpg" alt="">
                <div class="coupons-detail">
                    <img src="./img/share_conpon_detail_640x261.png" alt="">
                    <h2>
                        <p>30元</p>
                        <span>生活费</span>
                    </h2>
                </div>
                <div class="coupons-quilt">
                    <img src="./img/share_coupon_quilt_640x299.png" alt="">
                </div>
            </header>
            <div class="content">
                <section class="des">
                    <input type="tel" class="mobile-inpt">
                    <a href="javascript:void(0)" class="btn">领取生活费</a>
                </section>
                <section class="partner">
                    <div class="tips-title">
                        <span></span>
                        <h5>领取红包的小伙伴们</h5>
                        <span></span>
                    </div>
                    <div class="partner-list">
                        <ul>
                            <li>
                                <img src="http://wx.qlogo.cn/mmopen/pR6zyK0DVLBazUhJTCnOD8EFKBymRicsB9jeNch5mYicmGW60MKFQkxzqv7S6oAVh5mtXKSYBmyfRAbv6GhYWk5AT9yER9hGoL/0">
                                <p>丁丁他姐<span>2015-09-22 07:49:27</span></p><span class="money">5元</span>
                            </li>
                            <li>
                                <img src="http://wx.qlogo.cn/mmopen/CkBYF6IYNs3icic6XE97U9yCuSMDwKP44WzVpQNxj4399p0dTbmibdZ6As6dHRBIpXNwyoAdqQSrsvj4ZWDvLTwvQ/0">
                                <p>李欣<span>2015-09-21 18:14:41</span></p><span class="money">30元</span>
                            </li>
                            <li>
                                <img src="http://wx.qlogo.cn/mmopen/CkBYF6IYNs2Edwr2fjnIrCrwC0icpmQdFpLKXfTsuPiahX4z4phDUlgh0xI8w5RkicwMoWwfOIDBPHicfP4US3F1PQ/0">
                                <p>西门吹柳<span>2015-09-21 17:57:04</span></p><span class="money">5元</span>
                            </li>
                            <li>
                                <img src="http://wx.qlogo.cn/mmopen/LmMgicYZqcmjr5BXCibG1KkX5hicLIicFfcZ8U5Kicd2juKos84kWdrw9aFXZnDJgicCQM6bvMxOAONJ8AqUlHd8PyMvymNiba1E8ec/0">
                                <p>xuehousong<span>2015-09-21 17:52:40</span></p><span class="money">5元</span>
                            </li>
                            <li>
                                <img src="http://wx.qlogo.cn/mmopen/CkBYF6IYNs1zyhReaOraibonbJ6tDDKicDibCicU6Jgeiac4CVKYm1cXqEyiaKcD2UFdckhpPmtsrYbe26bBL9jza4NgQvg5nu8B95/0">
                                <p>时空之轮<span>2015-09-21 17:35:57</span></p><span class="money">20元</span>
                            </li>
                            <li>
                                <img src="http://wx.qlogo.cn/mmopen/pR6zyK0DVLBazUhJTCnODiboc1KrJ7XcZhnjKee7ZhUqX2Cvzr6era3DH1zFWpysrD3hhzseQamA3jJamQr8E6dabGCeY8LWJ/0">
                                <p>马振雨Zrain<span>2015-09-21 17:34:04</span></p><span class="money">10元</span>
                            </li>
                            <li>
                                <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJRPGa8VkhB7wjaFePK1uibN0RnWylru54CqianKPkpfegkXoMPb4Iibiag7M2e5ibdfJy8iaL70aavSb3g/0">
                                <p>Kary.r<span>2015-09-21 17:33:54</span></p><span class="money">15元</span>
                            </li>
                            <li>
                                <img src="http://wx.qlogo.cn/mmopen/yOhvxoibC20hPev4icOticcf6mVPvTic0OpbWzib27N9h4gbYdfpyMYKJdFLicjF588okAeeMNSalFHhI3qKiaicsxvzUC0fbUokWWhl/0">
                                <p>Mr.Rylan<span>2015-09-21 17:33:14</span></p><span class="money">5元</span>
                            </li>
                            <li>
                                <img src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM5nFKiboHp29nib0Aw0FIomHAS8Txhsic70a1IQsNbq0reElZufnVHvIJehCwON7efqyOvw1fAr5mXfg/0">
                                <p>顾俊<span>2015-09-21 17:32:00</span></p><span class="money">5元</span>
                            </li>
                            <li>
                                <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIxicYGbAOGWab11hwsSUInTOnhMhOaBDrdxQDN4VWeUaUUMlNeUq3UIowvRHbydE2N1aXiciaDRFjmQ/0">
                                <p>小青<span>2015-09-21 17:30:59</span></p><span class="money">10元</span>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <footer class="footer">
                <div class="tips-title">
                    <h5>使用规则</h5>
                    <span></span>
                </div>
                <div class="statement">
                    <p>1.领取成功后生活费将作为优惠券发送至领取时输入的手机号账号中，使用该手机登录和注册Need，即可使用优惠券；</p>
                    <p>2.生活费可以在Need App购买时抵用相应现金，具体规则请使用时查看券面描述，每张订单限使用一张优惠券；</p>
                    <p>3.Need App保留在法律允许的范围内对活动最终解释权；</p>
                </div>
            </footer>
        </div>
    </body>
</html>