<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.need.dao.api.need.NeedFeedDAO" >
  <resultMap id="BaseResultMap" type="com.need.domain.po.api.need.NeedFeedPO" >
    <id column="feed_id" property="feedId" jdbcType="VARCHAR" />
    <result column="author_id" property="authorId" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="feed_status" property="feedStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    f.feed_id, u.nick_name, f.create_time, f.memo, g.goods_name, g.scene_pic_key, f.feed_status
  </sql>
    
    <select id="queryByPage" parameterType="com.need.domain.vo.safeCenter.NeedFeedParamsVO" 
    resultType="com.need.domain.vo.safeCenter.NeedFeedVO">
      select 
       <include refid="Base_Column_List"/>
     from need_feed f inner join user_base u on f.author_id = u.user_id 
          inner join goods_main g on f.goods_id=g.goods_id
          <where>1=1</where>
           <if test="timeStart!=null">
           <![CDATA[
   		   and DATE_FORMAT(f.create_time, '%Y-%m-%d') >=  DATE_FORMAT(#{timeStart}, '%Y-%m-%d')
				]]>
           </if>
           <if test="timeEnd!=null">
           <![CDATA[
   		   and DATE_FORMAT(f.create_time, '%Y-%m-%d') <=  DATE_FORMAT(#{timeEnd}, '%Y-%m-%d')
				]]>
           </if>
           <if test="feedStatus!=null and feedStatus!=''">
            and f.feed_status=#{feedStatus}
           </if>
           ORDER BY f.create_time DESC
		limit #{start},#{pageSize} 
    </select>
     <select id="getCount" parameterType="com.need.domain.vo.safeCenter.NeedFeedParamsVO" resultType="int">
        select count(1)
       from need_feed f inner join user_base u on f.author_id = u.user_id 
          inner join goods_main g on f.goods_id=g.goods_id
          <where>1=1</where>
           <if test="timeStart!=null">
           <![CDATA[
   		   and DATE_FORMAT(f.create_time, '%Y-%m-%d') >=  DATE_FORMAT(#{timeStart}, '%Y-%m-%d')
				]]>
           </if>
           <if test="timeEnd!=null">
           <![CDATA[
   		   and DATE_FORMAT(f.create_time, '%Y-%m-%d') <=  DATE_FORMAT(#{timeEnd}, '%Y-%m-%d')
				]]>
           </if>
           <if test="feedStatus!=null and feedStatus!=''">
            and f.feed_status=#{feedStatus}
           </if>
     
     </select>
    
    
     
      <update id="updateStatus" parameterType="java.lang.String">
        update need_feed
      set feed_status = "INVALID"
       where feed_id = #{feedId}
      </update>
     
   
</mapper>