<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.need.show.dao.jdbc.api.user.UserBaseDAO">
	<resultMap id="BaseResultMap" type="com.need.show.dao.jdbc.api.user.po.UserBasePO">
		<id column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="nick_name" jdbcType="VARCHAR" property="nickName" />
		<result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
		<result column="user_type" jdbcType="VARCHAR" property="userType" />
		<result column="user_status" jdbcType="VARCHAR" property="userStatus" />
		<result column="profile_pic_key" jdbcType="VARCHAR" property="profilePicKey" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, mobile, nick_name, login_pwd, user_type,
		user_status,
		profile_pic_key, create_time,
		update_time
	</sql>

	<sql id="Goods_Base_List">
		goods_name , onsale_price, discount_price,top_pic_keys ,
		goods_id
	</sql>
	
  <select id="getCurrentUserCount" parameterType="java.lang.String"  resultType="int">
		select count(user_id)  from need_api.user_base  
		where user_status ='NORMAL'
		<![CDATA[
		  and create_time >=  #{beginTime}
		 ]]> 
	</select>
	
	
</mapper>