.data-page-wrap {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	/* background: rgb(243, 243, 243) none repeat scroll 0% 0%; */
}
*{box-sizing: border-box;}
*{
    outline: none!important;
    inline:none!important;
}
.con{
    width:100%;
    padding-bottom: 20px;
}
.page-head {
    padding: 10px;
    background: #E8E8E8;
    position: relative;
    line-height:30px;
}

.breadcrumb{
    margin:0;
    padding:0;
    background: none;
    font-size: 14px;
}
.state-information a{
    color:#000;
    font-size: 14px;
    cursor: pointer;
}

.info{
    height:auto;
    background: #fff;
    padding:0 10px;
    min-height:500px;
}
.info-top{
    width:100%;
    height: 40px;
    padding: 10px 0;
    position: relative;
    line-height: 20px;
    border-bottom: 1px solid #E8E8E8;
}
.back{
    position: absolute;
    right:0;
    top:8px;
}
.back>.button{
	background:#eee;
	color:#333;
	font-weight:500;
	margin-left:10px;
}
.back>.button:hover{
	background:#333;
	color:#fff;
}
.button{
	padding:0 10px;	
}
.search-form{
    width:100%;
    height:auto;
    padding-top: 20px;
    position:relative;
}
/*form*/
.form-inline>.row{
    margin:0 0 20px;
}
.form-inline>.row>div{
	padding:0;
}
.form-group>label{
    width:90px;
    text-align:left;
    margin:0;
    line-height:30px;
}

 .form-group>.form-control{
    width:150px;
    height:30px;
    padding:4px 12px;
} 
 .form-group>.form-control:hover{
 	border: 1px solid #2BA0F7;
 	box-shadow: 0px 0px 1px #2BA0F7;
 }
.large-group>.form-control{
    width:400px;
}
.small-group>.form-control{
    width:240px;
} 
.form-group>select>option{
    height: 30px;
    margin: 0;padding: 5px 12px;
}

/*table*/
.list-table tr>td:last-child,.list-table th{
	text-align:left!important;
}
.list-table{
	margin-bottom:15px;
}
.table th{
    border-bottom: 0!important;
}
.table thead tr{
	background:#e8e8e8;
}
.table tbody tr>td,.table thead tr>th{
    text-align: center;
   	max-width:150px;  
   	line-height:20px;
	padding:8px 10px;	
	vertical-align:middle;
	word-break:break-all;
}

.table tbody tr td:last-child a{
    color:#547AC4;
    font-weight: normal;
}

.table-striped > tbody > tr:nth-of-type(2n){
	background:rgb(232,232,232);
}
.table tr td img{
	height:60px;
}
table.table-top tr>td{
	text-align:left;
}
tr.table-title{
	background:#e8e8e8;
}
/* page */
.page{
    height:60px;
    line-height: 30px;
    margin: 25px 0;
    position: relative;
}
.pagenum{
    float: left;
}
