/*������*/
.modal-body{
    padding:20px 40px;
}
.modal .control-group{
    font-size: 14px;
 	margin-bottom:6px;
 	position:relative;
 	
}
.modal .control-group>label{ 
   margin:0;
   line-height:34px;
   
}
.modal .control-group>.controls{ 
  overflow:hidden;
}
.form-horizontal .control-label{
	padding:0 0 0 30px;
	margin-bottom:6px;
	text-align:left;
}
.modal .control-group .form-control{
	width:200px;
}
 .modal fieldset{
 	padding-bottom:20px;
 }
.modal .small-group .form-control{
	width:100px;
}
.modal .large-group .form-control{
	width:300px;
}

.modal .control-group>.date-sz>input:first-child{
    margin-bottom: 10px;
}
.modal .control-group>.controls .warn{
    width:300px;
    font-size:12px;
    color:#666;
}
.modal .modal-footer{

}
.modal .controls>.imgbox{
    width:60px;
    height: 60px;
    position:relative;
    margin-bottom:5px;
}
.modal .controls>.imgbox>img{
    height:100%;
}
.modal .controls>.imgbox>.close{
  	position:absolute;
  	color:#333;
  	right:-70px;
  	top:20px;;
}
.modal .modal-dialog{
    top:15%;
}
.modal .control-group select{
     width:170px;
 }
.modal .control-group select>option{
    height: 30px;
    margin: 0;padding: 5px 12px;
}
.modal label.error {                      
            color: rgba(80,169,80,1);               
            font-size:12px;   
        }        
.modal input.error{
    border: solid 1px rgba(80,169,80,1); 
}
.time-end{
	position:absolute;
	right:110px;
	top:25px;
}