<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.need.common.core.dao.jdbc.goods.GoodsSceneRelationDAO" >
  <resultMap id="BaseResultMap" type="com.need.common.domain.po.api.goods.GoodsSceneRelationPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="scene_id" property="sceneId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="scene_pic_key" property="scenePicKey" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, scene_id, goods_id, scene_pic_key, memo, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_scene_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getGoodsIdsBySceneId" resultType="java.lang.String" parameterType="java.lang.Integer" >
    select 
    goods_id
    from goods_scene_relation
    where scene_id = #{sceneId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_scene_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.need.common.domain.po.api.goods.GoodsSceneRelationPO" >
    insert into goods_scene_relation (id, scene_id, goods_id, 
      scene_pic_key, memo, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{sceneId,jdbcType=INTEGER}, #{goodsId,jdbcType=VARCHAR}, 
      #{scenePicKey,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.need.common.domain.po.api.goods.GoodsSceneRelationPO" >
    insert into goods_scene_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sceneId != null" >
        scene_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="scenePicKey != null" >
        scene_pic_key,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null" >
        #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="scenePicKey != null" >
        #{scenePicKey,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.need.common.domain.po.api.goods.GoodsSceneRelationPO" >
    update goods_scene_relation
    <set >
      <if test="sceneId != null" >
        scene_id = #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="scenePicKey != null" >
        scene_pic_key = #{scenePicKey,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.need.common.domain.po.api.goods.GoodsSceneRelationPO" >
    update goods_scene_relation
    set scene_id = #{sceneId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=VARCHAR},
      scene_pic_key = #{scenePicKey,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>