<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.need.common.core.dao.jdbc.need.NeedKolFansDAO" >
  <resultMap id="BaseResultMap" type="com.need.common.domain.po.api.need.NeedKolFansPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="kol_id" property="kolId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="focus_status" property="focusStatus" jdbcType="VARCHAR" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, kol_id, user_id, create_time, focus_status
  </sql>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from need_kol_fans
    where id = #{id}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from need_kol_fans
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.need.common.domain.po.api.need.NeedKolFansPO" >
    replace into  need_kol_fans (id, kol_id, user_id, 
      create_time, focus_status)
    values (#{id}, #{kolId}, #{userId}, 
      #{createTime}, #{focusStatus})
  </insert>
  
  
  <update id="update" parameterType="com.need.common.domain.po.api.need.NeedKolFansPO" >
    update need_kol_fans
    set kol_id = #{kolId},
      user_id = #{userId},
      create_time = #{createTime},
      focus_status=#{focusStatus}
    where id = #{id}
  </update>
  <select id="getNeedKolFansPO" resultType="boolean" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from need_kol_fans
    where user_id=#{userId} and kol_id=#{kolId} and focus_status=#{focusStatus}
  </select>
  
  
   <select id="getConcernCount" parameterType="java.lang.String" resultType="int">
    select count(*) from need_kol_fans 
    where user_id=#{userId} and focus_status='FOCUS'
   </select>
   
   <select id="countKolFans" parameterType="java.lang.String" resultType="int">
    select count(*) from need_kol_fans 
    where kol_id=#{kolId} and focus_status='FOCUS'
   </select>
   
   
   <select id="getByParams" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
     <include refid="Base_Column_List"/>
     from need_kol_fans
    where user_id=#{userId} and kol_id=#{kolId} and focus_status=#{focusStatus}
   </select>
   
    <select id="getByKolId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
     <include refid="Base_Column_List"/>
     from need_kol_fans
    where user_id=#{userId} and kol_id=#{kolId} 
   </select>
   
    <update id="updateByParam" parameterType="java.lang.String">
     update  need_kol_fans set  focus_status = #{focusStatus}
    where user_id=#{userId} and kol_id=#{kolId} 
   </update>
   
   
   
   <select id="queryAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from need_kol_fans  WHERE focus_status='FOCUS'
  </select>
</mapper>