<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.need.common.core.dao.jdbc.device.DeviceFeedBackDAO">
	<resultMap id="BaseResultMap" type="com.need.common.domain.po.api.device.DeviceFeedBackPO">
		<id column="comment_id" jdbcType="INTEGER" property="commentId" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="version" jdbcType="VARCHAR" property="version" />

	</resultMap>
	<sql id="Base_Column_List">
		comment_id, user_id, content, create_time,version
	</sql>

	<insert id="insertFeedBack" parameterType="com.need.common.domain.po.api.device.DeviceFeedBackPO">
		insert into device_feedback
		(user_id, content, create_time , version)
		values
		(#{userId}, #{content},now(),#{version}
		)
	</insert>


	

</mapper>