<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.need.integration.dao.jdbc.bops.trade.BopsOrderLogDAO" >
  <resultMap id="BaseResultMap" type="com.need.domain.po.bops.store.BopsOrderLogPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_trade_no" property="userTradeNo" jdbcType="BIGINT" />
    <result column="oper_type" property="operType" jdbcType="VARCHAR" />
    <result column="older_order_status" property="olderOrderStatus" jdbcType="VARCHAR" />
    <result column="new_order_status" property="newOrderStatus" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="change_at" property="changeAt" jdbcType="TIMESTAMP" />
    <result column="change_by" property="changeBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_trade_no, oper_type, older_order_status, new_order_status, remark, create_at, 
    create_by, change_at, change_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bops_order_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bops_order_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.need.domain.po.bops.store.BopsOrderLogPO" >
    insert into bops_order_log (id, user_trade_no, oper_type, 
      older_order_status, new_order_status, remark, 
      create_at, create_by, change_at, 
      change_by)
    values (#{id,jdbcType=BIGINT}, #{userTradeNo,jdbcType=BIGINT}, #{operType,jdbcType=VARCHAR}, 
      #{olderOrderStatus,jdbcType=VARCHAR}, #{newOrderStatus,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createAt,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{changeAt,jdbcType=TIMESTAMP}, 
      #{changeBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.need.domain.po.bops.store.BopsOrderLogPO" >
    insert into bops_order_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userTradeNo != null" >
        user_trade_no,
      </if>
      <if test="operType != null" >
        oper_type,
      </if>
      <if test="olderOrderStatus != null" >
        older_order_status,
      </if>
      <if test="newOrderStatus != null" >
        new_order_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="changeAt != null" >
        change_at,
      </if>
      <if test="changeBy != null" >
        change_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userTradeNo != null" >
        #{userTradeNo,jdbcType=BIGINT},
      </if>
      <if test="operType != null" >
        #{operType,jdbcType=VARCHAR},
      </if>
      <if test="olderOrderStatus != null" >
        #{olderOrderStatus,jdbcType=VARCHAR},
      </if>
      <if test="newOrderStatus != null" >
        #{newOrderStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="changeAt != null" >
        #{changeAt,jdbcType=TIMESTAMP},
      </if>
      <if test="changeBy != null" >
        #{changeBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.need.domain.po.bops.store.BopsOrderLogPO" >
    update bops_order_log
    <set >
      <if test="userTradeNo != null" >
        user_trade_no = #{userTradeNo,jdbcType=BIGINT},
      </if>
      <if test="operType != null" >
        oper_type = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="olderOrderStatus != null" >
        older_order_status = #{olderOrderStatus,jdbcType=VARCHAR},
      </if>
      <if test="newOrderStatus != null" >
        new_order_status = #{newOrderStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="changeAt != null" >
        change_at = #{changeAt,jdbcType=TIMESTAMP},
      </if>
      <if test="changeBy != null" >
        change_by = #{changeBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.need.domain.po.bops.store.BopsOrderLogPO" >
    update bops_order_log
    set user_trade_no = #{userTradeNo,jdbcType=BIGINT},
      oper_type = #{operType,jdbcType=VARCHAR},
      older_order_status = #{olderOrderStatus,jdbcType=VARCHAR},
      new_order_status = #{newOrderStatus,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      change_at = #{changeAt,jdbcType=TIMESTAMP},
      change_by = #{changeBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>