<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.need.dao.bops.coupon.BopsCouponExchangeAuditDAO" >
    <resultMap id="BaseResultMap" type="com.need.domain.po.bops.coupon.BopsCouponExchangeAuditPO" >
        <id column="coupon_exchange_audit_id" property="couponExchangeAuditId" jdbcType="INTEGER" />
        <result column="coupon_exchange_id" property="couponExchangeId" jdbcType="INTEGER" />
        <result column="audit_user_id" property="auditUserId" jdbcType="INTEGER" />
        <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        coupon_exchange_audit_id, coupon_exchange_id, audit_user_id, audit_status, description, audit_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from bops_coupon_exchange_audit
        where coupon_exchange_audit_id = #{couponExchangeAuditId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from bops_coupon_exchange_audit
        where coupon_exchange_audit_id = #{couponExchangeAuditId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.need.domain.po.bops.coupon.BopsCouponExchangeAuditPO" >
        insert into bops_coupon_exchange_audit (coupon_exchange_audit_id, coupon_exchange_id, 
        audit_user_id, audit_status, description, 
        audit_time)
        values (#{couponExchangeAuditId,jdbcType=INTEGER}, #{couponExchangeId,jdbcType=INTEGER}, 
        #{auditUserId,jdbcType=INTEGER}, #{auditStatus,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
        #{auditTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.need.domain.po.bops.coupon.BopsCouponExchangeAuditPO" >
        insert into bops_coupon_exchange_audit
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="couponExchangeAuditId != null" >
                coupon_exchange_audit_id,
            </if>
            <if test="couponExchangeId != null" >
                coupon_exchange_id,
            </if>
            <if test="auditUserId != null" >
                audit_user_id,
            </if>
            <if test="auditStatus != null" >
                audit_status,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="auditTime != null" >
                audit_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="couponExchangeAuditId != null" >
                #{couponExchangeAuditId,jdbcType=INTEGER},
            </if>
            <if test="couponExchangeId != null" >
                #{couponExchangeId,jdbcType=INTEGER},
            </if>
            <if test="auditUserId != null" >
                #{auditUserId,jdbcType=INTEGER},
            </if>
            <if test="auditStatus != null" >
                #{auditStatus,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null" >
                #{auditTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.need.domain.po.bops.coupon.BopsCouponExchangeAuditPO" >
        update bops_coupon_exchange_audit
        <set >
            <if test="couponExchangeId != null" >
                coupon_exchange_id = #{couponExchangeId,jdbcType=INTEGER},
            </if>
            <if test="auditUserId != null" >
                audit_user_id = #{auditUserId,jdbcType=INTEGER},
            </if>
            <if test="auditStatus != null" >
                audit_status = #{auditStatus,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null" >
                audit_time = #{auditTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where coupon_exchange_audit_id = #{couponExchangeAuditId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.need.domain.po.bops.coupon.BopsCouponExchangeAuditPO" >
        update bops_coupon_exchange_audit
        set coupon_exchange_id = #{couponExchangeId,jdbcType=INTEGER},
        audit_user_id = #{auditUserId,jdbcType=INTEGER},
        audit_status = #{auditStatus,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        audit_time = #{auditTime,jdbcType=TIMESTAMP}
        where coupon_exchange_audit_id = #{couponExchangeAuditId,jdbcType=INTEGER}
    </update>
    <select id="queryByCouponExchangeId" resultType="com.need.domain.vo.coupon.CouponExchangeAuditUserVO" parameterType="java.lang.Integer" >
        select a.description, u.user_name user_name, u.user_dept user_dept, u.user_id user_id
        from bops_coupon_exchange_audit as a left join bops_user as u on a.audit_user_id = u.user_id
        where coupon_exchange_id = #{couponExchangeId,jdbcType=INTEGER} ORDER BY a.`audit_time` desc
    </select>
</mapper>