<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.need.task.dao.jdbc.bops.goods.BopsGoodsDAO">
	<resultMap id="BaseResultMap"
		type="com.need.task.dao.jdbc.bops.goods.po.BopsGoods">
		<id column="goods_id" property="goodsId" jdbcType="VARCHAR" />
		<result column="goods_status" property="goodsStatus" jdbcType="VARCHAR" />
		<result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
		<result column="scene_id" property="sceneId" jdbcType="INTEGER" />
		<result column="brief" property="brief" jdbcType="VARCHAR" />
		<result column="top_pic_keys" property="topPicKeys" jdbcType="VARCHAR" />
		<result column="discount_price" property="discountPrice"
			jdbcType="INTEGER" />
		<result column="onsale_price" property="onsalePrice" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="audit_status" property="auditStatus" jdbcType="CHAR" />
		<result column="publisher_id" property="publisherId" jdbcType="INTEGER" />
		<result column="auditor_id" property="auditorId" jdbcType="INTEGER" />
		<result column="oppose_reason" property="opposeReason"
			jdbcType="VARCHAR" />
		<result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
		<result column="scene_pic_key" property="scenePicKey" jdbcType="VARCHAR" />
		<result column="goods_barcode" property="goodsBarcode"
			jdbcType="VARCHAR" />
		<result column="is_global" property="isGlobal" jdbcType="VARCHAR" />
		<result column="haiguan_count" property="haiguanCount"
			jdbcType="VARCHAR" />
		<result column="guojian_count" property="guojianCount"
			jdbcType="VARCHAR" />
		<result column="haiguan_country_code" property="haiguanCountryCode"
			jdbcType="VARCHAR" />
		<result column="guojian_country_code" property="guojianCountryCode"
			jdbcType="VARCHAR" />
		<result column="haiguan_goods_place" property="haiguanGoodsPlace"
			jdbcType="VARCHAR" />
		<result column="guojian_goods_place" property="guojianGoodsPlace"
			jdbcType="VARCHAR" />
		<result column="warehouse_type" property="warehouseType"
			jdbcType="VARCHAR" />
		<result column="goods_category_id" property="goodsCategoryId"
			jdbcType="INTEGER" />
		<result column="short_name" property="shortName"
			jdbcType="VARCHAR" />
		<result column="purchase_manager" property="purchaseManager"
			jdbcType="INTEGER" />
		<result column="purchase_leader" property="purchaseLeader"
			jdbcType="INTEGER" />
		<result column="purchase_price" property="purchasePrice"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		goods_id, goods_status, goods_name, scene_id, brief,
		top_pic_keys,
		discount_price, oppose_reason, goods_code,
		onsale_price,
		create_time, update_time, audit_status, publisher_id, auditor_id,
		scene_pic_key,goods_barcode, is_global,
		haiguan_count, guojian_count, haiguan_country_code, guojian_country_code,
		haiguan_goods_place, guojian_goods_place,warehouse_type, goods_category_id
	</sql>


	<select id="selectByGoodsId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		goods_id, goods_status, goods_name, scene_id,
		brief,
		top_pic_keys,
		discount_price, oppose_reason, goods_code,
		onsale_price,
		create_time, update_time, audit_status, publisher_id,
		auditor_id,
		scene_pic_key, goods_barcode, is_global,
		haiguan_count, guojian_count,
		haiguan_country_code, guojian_country_code,
		haiguan_goods_place, guojian_goods_place,
		warehouse_type, goods_category_id
		from bops_goods
		where goods_id = #{goodsId}
	</select>

	<update id="updatePriceById" >
		update bops_goods
		set
		discount_price = #{price},
		update_time = #{updateTime}
		where goods_id = #{goodsId}
	</update>
	
	
</mapper>