<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.need.dao.bops.coupon.BopsCouponTemplateDAO" >
    <resultMap id="BaseResultMap" type="com.need.domain.po.bops.coupon.BopsCouponTemplatePO" >
        <id column="coupon_template_id" property="couponTemplateId" jdbcType="VARCHAR" />
        <result column="coupon_template_no" property="couponTemplateNo" jdbcType="VARCHAR" />
        <result column="bops_user_id" property="bopsUserId" jdbcType="INTEGER" />
        <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
        <result column="coupon_pic_key" property="couponPicKey" jdbcType="VARCHAR" />
        <result column="disabled_pic_key" property="disabledPicKey" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="value" property="value" jdbcType="INTEGER" />
        <result column="min_cost" property="minCost" jdbcType="INTEGER" />
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="max_count" property="maxCount" jdbcType="INTEGER" />
        <result column="daily_count" property="dailyCount" jdbcType="INTEGER" />
        <result column="max_receive_count" property="maxReceiveCount" jdbcType="INTEGER" />
        <result column="goods_category_ids" property="goodsCategoryIds" jdbcType="VARCHAR" />
        <result column="channel_ids" property="channelIds" jdbcType="VARCHAR" />
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
        <result column="coupon_type" property="couponType" jdbcType="VARCHAR" />
        <result column="coupon_status" property="couponStatus" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="coupon_rule" jdbcType="VARCHAR" property="couponRule" />
        <result column="coupon_recommend" jdbcType="VARCHAR" property="couponRecommend" />
        <result column="coupon_share_title" jdbcType="VARCHAR" property="couponShareTitle" />
    </resultMap>
    <sql id="Base_Column_List" >
        coupon_template_id, coupon_template_no, bops_user_id, coupon_name, coupon_pic_key, disabled_pic_key, 
        description, remark, value / 100 value, min_cost / 100 min_cost, start_time, end_time, max_count, daily_count, max_receive_count, 
        goods_category_ids, channel_ids, goods_id, coupon_type, coupon_status, create_time, coupon_rule, coupon_recommend, coupon_share_title
    </sql>
    <select id="selectByPrimaryKey" resultType="com.need.domain.vo.coupon.CouponTemplateDetailVO" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from bops_coupon_template
        where coupon_template_id = #{couponTemplateId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from bops_coupon_template
        where coupon_template_id = #{couponTemplateId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.need.domain.po.bops.coupon.BopsCouponTemplatePO" >
        insert into bops_coupon_template (coupon_template_id, coupon_template_no, 
        bops_user_id, coupon_name, coupon_pic_key, disabled_pic_key, 
        description, remark, value, 
        min_cost, start_time, end_time, 
        max_count, daily_count, max_receive_count, goods_category_ids, 
        channel_ids, goods_id, coupon_type, coupon_status, 
        create_time, coupon_rule, coupon_recommend, coupon_share_title)
        values (#{couponTemplateId,jdbcType=VARCHAR}, #{couponTemplateNo,jdbcType=VARCHAR}, 
        #{bopsUserId,jdbcType=INTEGER}, #{couponName,jdbcType=VARCHAR}, #{couponPicKey,jdbcType=VARCHAR}, #{disabledPicKey,jdbcType=VARCHAR}, 
        #{description,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{value,jdbcType=INTEGER} * 100, 
        #{minCost,jdbcType=INTEGER} * 100, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
        #{maxCount,jdbcType=INTEGER}, #{dailyCount,jdbcType=INTEGER}, #{maxReceiveCount,jdbcType=INTEGER}, #{goodsCategoryIds,jdbcType=VARCHAR}, 
        #{channelIds,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{couponType,jdbcType=VARCHAR}, #{couponStatus,jdbcType=VARCHAR}, 
        #{createTime,jdbcType=TIMESTAMP}, #{couponRule,jdbcType=VARCHAR}, #{couponRecommend,jdbcType=VARCHAR}, #{couponShareTitle,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.need.domain.po.bops.coupon.BopsCouponTemplatePO" >
        insert into bops_coupon_template
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="couponTemplateId != null" >
                coupon_template_id,
            </if>
            <if test="couponTemplateNo != null" >
                coupon_template_no,
            </if>
            <if test="bopsUserId != null" >
                bops_user_id,
            </if>
            <if test="couponName != null" >
                coupon_name,
            </if>
            <if test="couponPicKey != null" >
                coupon_pic_key,
            </if>
            <if test="disabledPicKey != null" >
                disabled_pic_key,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="value != null" >
                value,
            </if>
            <if test="minCost != null" >
                min_cost,
            </if>
            <if test="startTime != null" >
                start_time,
            </if>
            <if test="endTime != null" >
                end_time,
            </if>
            <if test="maxCount != null" >
                max_count,
            </if>
            <if test="dailyCount != null" >
                daily_count,
            </if>
            <if test="maxReceiveCount != null" >
                max_receive_count,
            </if>
            <if test="goodsCategoryIds != null" >
                goods_category_ids,
            </if>
            <if test="channelIds != null" >
                channel_ids,
            </if>
            <if test="goodsId != null" >
                goods_id
            </if>
            <if test="couponType != null" >
                coupon_type,
            </if>
            <if test="couponStatus != null" >
                coupon_status,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="couponRule != null">
                coupon_rule,
            </if>
            <if test="couponRecommend != null">
                coupon_recommend,
            </if>
            <if test="couponShareTitle != null">
                coupon_share_title,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="couponTemplateId != null" >
                #{couponTemplateId,jdbcType=VARCHAR},
            </if>
            <if test="couponTemplateNo != null" >
                #{couponTemplateNo,jdbcType=VARCHAR},
            </if>
            <if test="bopsUserId != null" >
                #{bopsUserId,jdbcType=INTEGER},
            </if>
            <if test="couponName != null" >
                #{couponName,jdbcType=VARCHAR},
            </if>
            <if test="couponPicKey != null" >
                #{couponPicKey,jdbcType=VARCHAR},
            </if>
            <if test="disabledPicKey != null" >
                #{disabledPicKey,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                #{value,jdbcType=INTEGER} * 100,
            </if>
            <if test="minCost != null" >
                #{minCost,jdbcType=INTEGER} * 100,
            </if>
            <if test="startTime != null" >
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null" >
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="maxCount != null" >
                #{maxCount,jdbcType=INTEGER},
            </if>
            <if test="dailyCount != null" >
                #{dailyCount,jdbcType=INTEGER},
            </if>
            <if test="maxReceiveCount != null" >
                #{maxReceiveCount,jdbcType=INTEGER},
            </if>
            <if test="goodsCategoryIds != null" >
                #{goodsCategoryIds,jdbcType=VARCHAR},
            </if>
            <if test="channelIds != null" >
                #{channelIds,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null" >
                #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="couponType != null" >
                #{couponType,jdbcType=VARCHAR},
            </if>
            <if test="couponStatus != null" >
                #{couponStatus,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="couponRule != null">
                #{couponRule,jdbcType=VARCHAR},
            </if>
            <if test="couponRecommend != null">
                #{couponRecommend,jdbcType=VARCHAR},
            </if>
            <if test="couponShareTitle != null">
                #{couponShareTitle,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.need.domain.po.bops.coupon.BopsCouponTemplatePO" >
        update bops_coupon_template
        <set >
            <if test="couponTemplateNo != null" >
                coupon_template_no = #{couponTemplateNo,jdbcType=VARCHAR},
            </if>
            <if test="bopsUserId != null" >
                bops_user_id = #{bopsUserId,jdbcType=INTEGER},
            </if>
            <if test="couponName != null" >
                coupon_name = #{couponName,jdbcType=VARCHAR},
            </if>
            <if test="couponPicKey != null" >
                coupon_pic_key = #{couponPicKey,jdbcType=VARCHAR},
            </if>
            <if test="disabledPicKey != null" >
                disabled_pic_key = #{disabledPicKey,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                value = #{value,jdbcType=INTEGER} * 100,
            </if>
            <if test="minCost != null" >
                min_cost = #{minCost,jdbcType=INTEGER} * 100,
            </if>
            <if test="startTime != null" >
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null" >
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="maxCount != null" >
                max_count = #{maxCount,jdbcType=INTEGER},
            </if>
            <if test="dailyCount != null" >
                daily_count = #{dailyCount,jdbcType=INTEGER},
            </if>
            <if test="maxReceiveCount != null" >
                max_receive_count = #{maxReceiveCount,jdbcType=INTEGER},
            </if>
            <if test="goodsCategoryIds != null" >
                goods_category_ids = #{goodsCategoryIds,jdbcType=VARCHAR},
            </if>
            <if test="channelIds != null" >
                channel_ids = #{channelIds,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null" >
                goods_id = #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="couponType != null" >
                coupon_type = #{couponType,jdbcType=VARCHAR},
            </if>
            <if test="couponStatus != null" >
                coupon_status = #{couponStatus,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="couponRule != null">
                coupon_rule = #{couponRule,jdbcType=VARCHAR},
            </if>
            <if test="couponRecommend != null">
                coupon_recommend = #{couponRecommend,jdbcType=VARCHAR},
            </if>
            <if test="couponShareTitle != null">
                coupon_share_title = #{couponShareTitle,jdbcType=VARCHAR},
            </if>
        </set>
        where coupon_template_id = #{couponTemplateId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.need.domain.po.bops.coupon.BopsCouponTemplatePO" >
        update bops_coupon_template
        set coupon_template_no = #{couponTemplateNo,jdbcType=VARCHAR},
        bops_user_id = #{bopsUserId,jdbcType=INTEGER},
        coupon_name = #{couponName,jdbcType=VARCHAR},
        coupon_pic_key = #{couponPicKey,jdbcType=VARCHAR},
        disabled_pic_key = #{disabledPicKey,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        value = #{value,jdbcType=INTEGER} * 100,
        min_cost = #{minCost,jdbcType=INTEGER} * 100,
        start_time = #{startTime,jdbcType=TIMESTAMP},
        end_time = #{endTime,jdbcType=TIMESTAMP},
        max_count = #{maxCount,jdbcType=INTEGER},
        daily_count = #{dailyCount,jdbcType=INTEGER},
        max_receive_count = #{maxReceiveCount,jdbcType=INTEGER},
        goods_category_ids = #{goodsCategoryIds,jdbcType=VARCHAR},
        channel_ids = #{channelIds,jdbcType=VARCHAR},
        goods_id = #{goodsId,jdbcType=VARCHAR},
        coupon_type = #{couponType,jdbcType=VARCHAR},
        coupon_status = #{couponStatus,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        coupon_rule = #{couponRule,jdbcType=VARCHAR},
        coupon_recommend = #{couponRecommend,jdbcType=VARCHAR},
        coupon_share_title = #{couponShareTitle,jdbcType=VARCHAR}
        where coupon_template_id = #{couponTemplateId,jdbcType=VARCHAR}
    </update>

    <select id="queryPageCouponTemplate" resultMap="BaseResultMap" parameterType="com.need.domain.vo.coupon.CouponPageVO">
        select 
        <include refid="Base_Column_List" />
        from bops_coupon_template where 1 = 1
        <choose>
            <when test="couponStatus == 'useable'">
                <![CDATA[
                    and coupon_status = 'valid' and start_time < now() and now() < end_time
                ]]>
            </when>
            <otherwise>
                <if test="couponStatus != null and couponStatus !=''">
                    and coupon_status = #{couponStatus,jdbcType=VARCHAR}
                </if>
                <if test="bopsUserId!=null and bopsUserId!=''">
                    and bops_user_id = #{bopsUserId}
                </if>
            </otherwise>
        </choose>
        <if test="couponTemplateNo != null and couponTemplateNo!=''" >
            and coupon_template_no like '%${couponTemplateNo}%'
        </if>
        ORDER BY `create_time` DESC
		limit #{start},#{pageSize}
    </select>

    <select id="queryPageCouponTemplateCount" resultType="int" parameterType="com.need.domain.vo.coupon.CouponPageVO">
        select count(1)
        from bops_coupon_template where 1 = 1
        <choose>
            <when test="couponStatus == 'useable'">
                <![CDATA[
                    and coupon_status = 'valid' and start_time < now() and now() < end_time
                ]]>
            </when>
            <otherwise>
                <if test="couponStatus != null and couponStatus != ''">
                    and coupon_status = #{couponStatus,jdbcType=VARCHAR}
                </if>
                <if test="bopsUserId!=null and bopsUserId!=''">
                    and bops_user_id = #{bopsUserId}
                </if>
            </otherwise>
        </choose>
        <if test="couponTemplateNo != null and couponTemplateNo != ''" >
            and coupon_template_no like '%${couponTemplateNo}%'
        </if>
    </select>
    
    <select id="getCouponTemplateDetail" resultType="com.need.domain.vo.coupon.CouponTemplateDetailVO" parameterType="java.lang.String" >
        select t.coupon_template_id, t.coupon_template_no, t.coupon_name, t.value / 100 value, t.min_cost / 100 min_cost, t.start_time, t.end_time, t.remark, 
        t.coupon_pic_key, t.disabled_pic_key, t.description, t.max_count, t.daily_count, t.max_receive_count, 
        t.goods_category_ids, t.channel_ids, t.goods_id, t.coupon_type, t.coupon_status, t.create_time, t.coupon_rule, t.coupon_share_title, t.coupon_recommend, 
        u.user_name, u.user_dept
        from bops_coupon_template as t left join bops_user as u on t.bops_user_id = u.user_id
        where coupon_template_id = #{couponTemplateId,jdbcType=VARCHAR}
    </select>

    <select id="selectByCouponTemplateNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from bops_coupon_template
        <![CDATA[
            where coupon_template_no = #{couponTemplateNo,jdbcType=VARCHAR}
        ]]>
    </select>
    
    <update id="updateFrozen" parameterType="java.lang.String">
        update bops_coupon_template
        set coupon_status = 'frozen'
        where coupon_template_id = #{couponTemplateId,jdbcType=VARCHAR}
    </update>
    
    <select id="queryCouponTemplate" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from bops_coupon_template ORDER BY `create_time` DESC
    </select>
    
</mapper>